%section#rsvp
  %h1 RSVP
  %h3 Confirme sua presença na nossa festa

  = form_for @guest do |f|
    = f.radio_button :confirmed, true
    = f.label :confirmed_true, 'Sim, marcarei presença na festa!'
    = f.radio_button :confirmed, false
    = f.label :confirmed_true, 'Infelizmente não poderei ir.'
    = f.text_field :name, placeholder: 'Seu Nome', autofocus: true
    = f.text_field :email, placeholder: 'Seu Email'
    = f.label :total_guests, 'Total de convidados'
    = f.select :total_guests, [1,2,3,4,5,6,7,8]
    .guests
      - 7.times do |i|
        = f.text_field "companions", name: "guest[companions][]", placeholder: 'Nome do convidado'

    = f.submit 'Confirmar'

= content_for :javascript do
  = javascript_include_tag :rsvp