!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class='lt-ie9 lt-ie8 lt-ie7' lang='en'>
/[if IE 7]    <html class='lt-ie9 lt-ie8' lang='en'>
/[if IE 8]    <html class='lt-ie9' lang='en'>
/[if gt IE 8] <!--> <html lang='en'> <!--

%head
  = render partial: 'javascripts/mobify'

  %title Bruna & João Paulo

  %meta{ charset: 'utf-8'}
  %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
  %meta{ name: 'description', content: 'Site com informações sobre o nosso casamento' }
  %meta{ name: 'keywords', content: 'casamento, joao paulo, bruna' }
  %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
  %meta{ name: 'HandheldFriendly', content: 'True' }
  %meta{ name: 'MobileOptimized', content: '320' }


  = stylesheet_link_tag :application, media: 'all'
  %link{ rel: 'icon', href: '/favicon.ico', type: 'image/x-icon' }

  = csrf_meta_tag

%body{ 'data-mobile-width' => 768 }
  :plain
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8ODl6XHDVqXIugBZlDK4jwLKQqyuldn8&sensor=true"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>


  =render partial: 'javascripts/facebook'

  %input{ type: 'checkbox', id: 'nav-handler' }
  #mobile-top-menu{ 'data-scroll-mobile' => true }
    %label{ id: 'menu-button', for: 'nav-handler' } Menu
    .name<
      Bruna
      %img{ src: asset_path('rings.png') }
      João Paulo

  %nav{ 'data-scroll-computer' => true }
    %ul
      %li= navigation_link_to 'Nosso Casamento', '#ceremony'
      / %li= navigation_link_to 'Nosso Casamento', '#our_wedding'
      / %li= navigation_link_to 'Fotos', root_path
      .logo
        = link_to '#nav-handler', class: 'logo', data: { scroll: true } do
          .name<
            Bruna
            %img{ src: asset_path('rings.png') }
            João Paulo
          .date 09 de Agosto, 2014
      %li= navigation_link_to 'Nossa História', '#our_history'
      / %li= navigation_link_to 'RSVP', root_path
      / %li= navigation_link_to 'Contato', root_path

  %article
    = yield

  .clear
  %footer

  = javascript_include_tag :application
  = yield :javascript
